<footer class="">
  <div class="">
  </div>
  <div class="flex flex-col justify-between align-center p-2 py-7 border-t border-black md:flex-row">
    <div class="text-4xl">
      OLÉ
    </div>
    <div class="flex justify-left py-4 align-center gap-8 text-xl md:justify-center md:pt-0 md:pb-0">
      <h4>
        Inicio
      </h4>
      <h4>Ponentes</h4>
      <h4>Blog</h4>
      <h4>Tu receta</h4>
    </div>
    <div class="">
      <i class="fa-brands fa-instagram" style="font-size: 32px;"></i>
      <i class="fa-brands fa-tiktok" style="font-size: 32px;"></i>
    </div>
  </div>
  <div class="bg-[#212529] text-[#F8F4E9] flex justify-between items-center pt-5 p-2 md:items-end">
    <img class="w-40 md:w-90" src="/src/assets/images/logouoclight.png" alt="Logo universidad Oberta de Catalunya">
    <div class="">
      <small class="">Manuel Salvador Roldán</small>
      <small>|</small>
      <small>HTML y CSS II</small>
    </div>
  </div>
</footer>