<nav class="absolute w-full px-3 pt-2 z-100">
  <div class="w-full flex flex-row justify-between">
    <div class="text-[2rem] md:text-[5rem] lg:text-[4rem]">
      <a href="index.html">OLÉ</a></div>
    <div class="h-full flex flex-row items-center gap-8">
      <div class="flex flex-row gap-3">
        <a href="ponentes.html">Ponentes</a>
        <a href="ia.html">IA</a>
      </div>
      <div class="flex flex-col">
        <svg height="10" width="40" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="10"
            x2="250"
            y2="10"
            style="stroke: #212529; stroke-width: 3"
          />
        </svg>
        <svg height="10" width="40" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="10"
            x2="250"
            y2="10"
            style="stroke: #212529; stroke-width: 3"
          />
        </svg>
        <svg height="10" width="40" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="10"
            x2="250"
            y2="10"
            style="stroke: #212529; stroke-width: 3"
          />
        </svg>
      </div>
    </div>
  </div>
</nav>
