<div
  class="flex gap-7 whitespace-nowrap w-full py-5 scroll-animation"
>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
  <div class="">&nbsp;OLÉ&nbsp;&nbsp;</div>
  <div class="">&nbsp;オレ&nbsp;&nbsp;</div>
  <div class="">&nbsp;奥莱&nbsp;&nbsp;</div>
  <div class="">&nbsp;oʊ.le&nbsp;&nbsp;</div>
</div>
