html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/**APPLYS**/
@layer base {
  .base {
    @apply text-secondary bg-primary overflow-x-hidden min-h-screen w-full;
  }
}

@layer components {
  .tag {
    @apply px-3 py-2 absolute top-10 font-regular text-sm text-primary bg-secondary rounded-full z-90;
  }
  .img-rounded {
    @apply w-55 rounded object-cover origin-center;
  }
}

/**ANIMACIONES**/
.scroll-animation{
    animation:scroll 20s linear infinite;
}

@keyframes scroll {
    0%{
        transform:translateX(5%);
    }
    100%{
        transform:translateX(-25%);
    }
}